In [2]:
import pandas as pd

panda is a machine learning library which help to make the data frame for training

In [3]:
#reading .csv file
df=pd.read_csv("rawdata.csv")
df

    Duration          Date  Maxpulse  Calories  Unnamed: 4
0         60  '2020/12/01'       110       130       409.1
1         60  '2020/12/02'       117       145       479.0
2         60  '2020/12/03'       103       135       340.0
3         45  '2020/12/04'       109       175       282.4
4         45  '2020/12/05'       117       148       406.0
5         60  '2020/12/06'       102       127       300.0
6         60  '2020/12/07'       110       136       374.0
7        450  '2020/12/08'       104       134       253.3
8         30  '2020/12/09'       109       133       195.1
9         60  '2020/12/10'        98       124       269.0
10        60  '2020/12/11'       103       147       329.3
11        60  '2020/12/12'       100       120       250.7
12        60  '2020/12/12'       100       120       250.7
13        60  '2020/12/13'       106       128       345.3
14        60  '2020/12/14'       104       132       379.3
15        60  '2020/12/15'        98       123       275.0
16        60  '2020/12/16'        98       120       215.2
17        60  '2020/12/17'       100       120       300.0
18        45  '2020/12/18'        90       112         NaN
19        60  '2020/12/19'       103       123       323.0
20        45  '2020/12/20'        97       125       243.0
21        60  '2020/12/21'       108       131       364.2
22        45           NaN       100       119       282.0
23        60  '2020/12/23'       130       101       300.0
24        45  '2020/12/24'       105       132       246.0
25        60  '2020/12/25'       102       126       334.5
26        60    12/26/2020       100       120       250.0
27        60  '2020/12/27'        92       118       241.0
28        60  '2020/12/28'       103       132         NaN
29        60  '2020/12/29'       100       132       280.0
30        60  '2020/12/30'       102       129       380.3
31        60  '2020/12/31'        92       115       243.0

In [4]:
#checking either any column has null entry or not, ture if there is any null and false if there is no null entry
df.isnull()

    Duration   Date  Maxpulse  Calories  Unnamed: 4
0      False  False     False     False       False
1      False  False     False     False       False
2      False  False     False     False       False
3      False  False     False     False       False
4      False  False     False     False       False
5      False  False     False     False       False
6      False  False     False     False       False
7      False  False     False     False       False
8      False  False     False     False       False
9      False  False     False     False       False
10     False  False     False     False       False
11     False  False     False     False       False
12     False  False     False     False       False
13     False  False     False     False       False
14     False  False     False     False       False
15     False  False     False     False       False
16     False  False     False     False       False
17     False  False     False     False       False
18     False  False     False     False        True
19     False  False     False     False       False
20     False  False     False     False       False
21     False  False     False     False       False
22     False   True     False     False       False
23     False  False     False     False       False
24     False  False     False     False       False
25     False  False     False     False       False
26     False  False     False     False       False
27     False  False     False     False       False
28     False  False     False     False        True
29     False  False     False     False       False
30     False  False     False     False       False
31     False  False     False     False       False

In [5]:
#dropping the null entries
df.dropna(inplace=True,axis=0)
df

    Duration          Date  Maxpulse  Calories  Unnamed: 4
0         60  '2020/12/01'       110       130       409.1
1         60  '2020/12/02'       117       145       479.0
2         60  '2020/12/03'       103       135       340.0
3         45  '2020/12/04'       109       175       282.4
4         45  '2020/12/05'       117       148       406.0
5         60  '2020/12/06'       102       127       300.0
6         60  '2020/12/07'       110       136       374.0
7        450  '2020/12/08'       104       134       253.3
8         30  '2020/12/09'       109       133       195.1
9         60  '2020/12/10'        98       124       269.0
10        60  '2020/12/11'       103       147       329.3
11        60  '2020/12/12'       100       120       250.7
12        60  '2020/12/12'       100       120       250.7
13        60  '2020/12/13'       106       128       345.3
14        60  '2020/12/14'       104       132       379.3
15        60  '2020/12/15'        98       123       275.0
16        60  '2020/12/16'        98       120       215.2
17        60  '2020/12/17'       100       120       300.0
19        60  '2020/12/19'       103       123       323.0
20        45  '2020/12/20'        97       125       243.0
21        60  '2020/12/21'       108       131       364.2
23        60  '2020/12/23'       130       101       300.0
24        45  '2020/12/24'       105       132       246.0
25        60  '2020/12/25'       102       126       334.5
26        60    12/26/2020       100       120       250.0
27        60  '2020/12/27'        92       118       241.0
29        60  '2020/12/29'       100       132       280.0
30        60  '2020/12/30'       102       129       380.3
31        60  '2020/12/31'        92       115       243.0

In [6]:
df.dropna(axis=1,inplace=True)
df

    Duration          Date  Maxpulse  Calories  Unnamed: 4
0         60  '2020/12/01'       110       130       409.1
1         60  '2020/12/02'       117       145       479.0
2         60  '2020/12/03'       103       135       340.0
3         45  '2020/12/04'       109       175       282.4
4         45  '2020/12/05'       117       148       406.0
5         60  '2020/12/06'       102       127       300.0
6         60  '2020/12/07'       110       136       374.0
7        450  '2020/12/08'       104       134       253.3
8         30  '2020/12/09'       109       133       195.1
9         60  '2020/12/10'        98       124       269.0
10        60  '2020/12/11'       103       147       329.3
11        60  '2020/12/12'       100       120       250.7
12        60  '2020/12/12'       100       120       250.7
13        60  '2020/12/13'       106       128       345.3
14        60  '2020/12/14'       104       132       379.3
15        60  '2020/12/15'        98       123       275.0
16        60  '2020/12/16'        98       120       215.2
17        60  '2020/12/17'       100       120       300.0
19        60  '2020/12/19'       103       123       323.0
20        45  '2020/12/20'        97       125       243.0
21        60  '2020/12/21'       108       131       364.2
23        60  '2020/12/23'       130       101       300.0
24        45  '2020/12/24'       105       132       246.0
25        60  '2020/12/25'       102       126       334.5
26        60    12/26/2020       100       120       250.0
27        60  '2020/12/27'        92       118       241.0
29        60  '2020/12/29'       100       132       280.0
30        60  '2020/12/30'       102       129       380.3
31        60  '2020/12/31'        92       115       243.0

In [7]:
#filling null values with 123
dfnew=pd.read_csv("rawdata.csv")
dfnew.fillna(value=123,inplace=True)
dfnew

    Duration          Date  Maxpulse  Calories  Unnamed: 4
0         60  '2020/12/01'       110       130       409.1
1         60  '2020/12/02'       117       145       479.0
2         60  '2020/12/03'       103       135       340.0
3         45  '2020/12/04'       109       175       282.4
4         45  '2020/12/05'       117       148       406.0
5         60  '2020/12/06'       102       127       300.0
6         60  '2020/12/07'       110       136       374.0
7        450  '2020/12/08'       104       134       253.3
8         30  '2020/12/09'       109       133       195.1
9         60  '2020/12/10'        98       124       269.0
10        60  '2020/12/11'       103       147       329.3
11        60  '2020/12/12'       100       120       250.7
12        60  '2020/12/12'       100       120       250.7
13        60  '2020/12/13'       106       128       345.3
14        60  '2020/12/14'       104       132       379.3
15        60  '2020/12/15'        98       123       275.0
16        60  '2020/12/16'        98       120       215.2
17        60  '2020/12/17'       100       120       300.0
18        45  '2020/12/18'        90       112       123.0
19        60  '2020/12/19'       103       123       323.0
20        45  '2020/12/20'        97       125       243.0
21        60  '2020/12/21'       108       131       364.2
22        45           123       100       119       282.0
23        60  '2020/12/23'       130       101       300.0
24        45  '2020/12/24'       105       132       246.0
25        60  '2020/12/25'       102       126       334.5
26        60    12/26/2020       100       120       250.0
27        60  '2020/12/27'        92       118       241.0
28        60  '2020/12/28'       103       132       123.0
29        60  '2020/12/29'       100       132       280.0
30        60  '2020/12/30'       102       129       380.3
31        60  '2020/12/31'        92       115       243.0

In [8]:
#forward filling of null entries, it means fill row 1 has value 5 and row 2 is empty then fill 5 in row 2 also
dfnew=pd.read_csv("rawdata.csv")
dfnew.fillna(method='ffill',inplace=True)
dfnew

C:\Users\PMLS\AppData\Local\Temp\ipykernel_47524\2146834844.py:3: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  dfnew.fillna(method='ffill',inplace=True)

    Duration          Date  Maxpulse  Calories  Unnamed: 4
0         60  '2020/12/01'       110       130       409.1
1         60  '2020/12/02'       117       145       479.0
2         60  '2020/12/03'       103       135       340.0
3         45  '2020/12/04'       109       175       282.4
4         45  '2020/12/05'       117       148       406.0
5         60  '2020/12/06'       102       127       300.0
6         60  '2020/12/07'       110       136       374.0
7        450  '2020/12/08'       104       134       253.3
8         30  '2020/12/09'       109       133       195.1
9         60  '2020/12/10'        98       124       269.0
10        60  '2020/12/11'       103       147       329.3
11        60  '2020/12/12'       100       120       250.7
12        60  '2020/12/12'       100       120       250.7
13        60  '2020/12/13'       106       128       345.3
14        60  '2020/12/14'       104       132       379.3
15        60  '2020/12/15'        98       123       275.0
16        60  '2020/12/16'        98       120       215.2
17        60  '2020/12/17'       100       120       300.0
18        45  '2020/12/18'        90       112       300.0
19        60  '2020/12/19'       103       123       323.0
20        45  '2020/12/20'        97       125       243.0
21        60  '2020/12/21'       108       131       364.2
22        45  '2020/12/21'       100       119       282.0
23        60  '2020/12/23'       130       101       300.0
24        45  '2020/12/24'       105       132       246.0
25        60  '2020/12/25'       102       126       334.5
26        60    12/26/2020       100       120       250.0
27        60  '2020/12/27'        92       118       241.0
28        60  '2020/12/28'       103       132       241.0
29        60  '2020/12/29'       100       132       280.0
30        60  '2020/12/30'       102       129       380.3
31        60  '2020/12/31'        92       115       243.0

In [9]:
#backward filling, if row 2 is 5 and row 1 is empty then fill row 1 with 5
dfnew=pd.read_csv("rawdata.csv")
dfnew.fillna(method='bfill',inplace=True)
dfnew

C:\Users\PMLS\AppData\Local\Temp\ipykernel_47524\2859911476.py:3: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  dfnew.fillna(method='bfill',inplace=True)

    Duration          Date  Maxpulse  Calories  Unnamed: 4
0         60  '2020/12/01'       110       130       409.1
1         60  '2020/12/02'       117       145       479.0
2         60  '2020/12/03'       103       135       340.0
3         45  '2020/12/04'       109       175       282.4
4         45  '2020/12/05'       117       148       406.0
5         60  '2020/12/06'       102       127       300.0
6         60  '2020/12/07'       110       136       374.0
7        450  '2020/12/08'       104       134       253.3
8         30  '2020/12/09'       109       133       195.1
9         60  '2020/12/10'        98       124       269.0
10        60  '2020/12/11'       103       147       329.3
11        60  '2020/12/12'       100       120       250.7
12        60  '2020/12/12'       100       120       250.7
13        60  '2020/12/13'       106       128       345.3
14        60  '2020/12/14'       104       132       379.3
15        60  '2020/12/15'        98       123       275.0
16        60  '2020/12/16'        98       120       215.2
17        60  '2020/12/17'       100       120       300.0
18        45  '2020/12/18'        90       112       323.0
19        60  '2020/12/19'       103       123       323.0
20        45  '2020/12/20'        97       125       243.0
21        60  '2020/12/21'       108       131       364.2
22        45  '2020/12/23'       100       119       282.0
23        60  '2020/12/23'       130       101       300.0
24        45  '2020/12/24'       105       132       246.0
25        60  '2020/12/25'       102       126       334.5
26        60    12/26/2020       100       120       250.0
27        60  '2020/12/27'        92       118       241.0
28        60  '2020/12/28'       103       132       280.0
29        60  '2020/12/29'       100       132       280.0
30        60  '2020/12/30'       102       129       380.3
31        60  '2020/12/31'        92       115       243.0

In [10]:
#filling using quadratic value of that column
dfnew=pd.read_csv("rawdata.csv")
dfnew.interpolate(method='quadratic',inplace=True)
dfnew

C:\Users\PMLS\AppData\Local\Temp\ipykernel_47524\283638155.py:3: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  dfnew.interpolate(method='quadratic',inplace=True)

    Duration          Date  Maxpulse  Calories  Unnamed: 4
0         60  '2020/12/01'       110       130  409.100000
1         60  '2020/12/02'       117       145  479.000000
2         60  '2020/12/03'       103       135  340.000000
3         45  '2020/12/04'       109       175  282.400000
4         45  '2020/12/05'       117       148  406.000000
5         60  '2020/12/06'       102       127  300.000000
6         60  '2020/12/07'       110       136  374.000000
7        450  '2020/12/08'       104       134  253.300000
8         30  '2020/12/09'       109       133  195.100000
9         60  '2020/12/10'        98       124  269.000000
10        60  '2020/12/11'       103       147  329.300000
11        60  '2020/12/12'       100       120  250.700000
12        60  '2020/12/12'       100       120  250.700000
13        60  '2020/12/13'       106       128  345.300000
14        60  '2020/12/14'       104       132  379.300000
15        60  '2020/12/15'        98       123  275.000000
16        60  '2020/12/16'        98       120  215.200000
17        60  '2020/12/17'       100       120  300.000000
18        45  '2020/12/18'        90       112  353.753109
19        60  '2020/12/19'       103       123  323.000000
20        45  '2020/12/20'        97       125  243.000000
21        60  '2020/12/21'       108       131  364.200000
22        45           NaN       100       119  282.000000
23        60  '2020/12/23'       130       101  300.000000
24        45  '2020/12/24'       105       132  246.000000
25        60  '2020/12/25'       102       126  334.500000
26        60    12/26/2020       100       120  250.000000
27        60  '2020/12/27'        92       118  241.000000
28        60  '2020/12/28'       103       132  237.595701
29        60  '2020/12/29'       100       132  280.000000
30        60  '2020/12/30'       102       129  380.300000
31        60  '2020/12/31'        92       115  243.000000

In [11]:
#changing type of column
dfnew['Calories']=dfnew['Calories'].astype(float)
dfnew['Calories']

0     130.0
1     145.0
2     135.0
3     175.0
4     148.0
5     127.0
6     136.0
7     134.0
8     133.0
9     124.0
10    147.0
11    120.0
12    120.0
13    128.0
14    132.0
15    123.0
16    120.0
17    120.0
18    112.0
19    123.0
20    125.0
21    131.0
22    119.0
23    101.0
24    132.0
25    126.0
26    120.0
27    118.0
28    132.0
29    132.0
30    129.0
31    115.0
Name: Calories, dtype: float64

In [25]:
dfnew['Calories'].apply(lambda x: x+2)

0     132.0
1     147.0
2     137.0
3     177.0
4     150.0
5     129.0
6     138.0
7     136.0
8     135.0
9     126.0
10    149.0
11    122.0
12    122.0
13    130.0
14    134.0
15    125.0
16    122.0
17    122.0
18    114.0
19    125.0
20    127.0
21    133.0
22    121.0
23    103.0
24    134.0
25    128.0
26    122.0
27    120.0
28    134.0
29    134.0
30    131.0
31    117.0
Name: Calories, dtype: float64

In [12]:
#check if there is any duplicte or not , true if there is any duplicate
dfnew.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12     True
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
dtype: bool

In [13]:
#dropping if there any duplicates
dfnew.drop_duplicates(subset=['Calories'])

    Duration          Date  Maxpulse  Calories  Unnamed: 4
0         60  '2020/12/01'       110     130.0  409.100000
1         60  '2020/12/02'       117     145.0  479.000000
2         60  '2020/12/03'       103     135.0  340.000000
3         45  '2020/12/04'       109     175.0  282.400000
4         45  '2020/12/05'       117     148.0  406.000000
5         60  '2020/12/06'       102     127.0  300.000000
6         60  '2020/12/07'       110     136.0  374.000000
7        450  '2020/12/08'       104     134.0  253.300000
8         30  '2020/12/09'       109     133.0  195.100000
9         60  '2020/12/10'        98     124.0  269.000000
10        60  '2020/12/11'       103     147.0  329.300000
11        60  '2020/12/12'       100     120.0  250.700000
13        60  '2020/12/13'       106     128.0  345.300000
14        60  '2020/12/14'       104     132.0  379.300000
15        60  '2020/12/15'        98     123.0  275.000000
18        45  '2020/12/18'        90     112.0  353.753109
20        45  '2020/12/20'        97     125.0  243.000000
21        60  '2020/12/21'       108     131.0  364.200000
22        45           NaN       100     119.0  282.000000
23        60  '2020/12/23'       130     101.0  300.000000
25        60  '2020/12/25'       102     126.0  334.500000
27        60  '2020/12/27'        92     118.0  241.000000
30        60  '2020/12/30'       102     129.0  380.300000
31        60  '2020/12/31'        92     115.0  243.000000

In [15]:
array=['ali','ahmed','ml','cnn']
newarray=[]
for i in array:
   newarray.append(i.upper())
newarray

['ALI', 'AHMED', 'ML', 'CNN']

In [16]:
array=['ali','ahmed','ml','cnn']
newarray=[]
for i in array:
   newarray.append(i.strip())
newarray

['ali', 'ahmed', 'ml', 'cnn']

In [14]:
#changing to time format
dfnew['Date']=pd.to_datetime(dfnew['Date'],errors='coerce')
dfnew['Date']

0    2020-12-01
1    2020-12-02
2    2020-12-03
3    2020-12-04
4    2020-12-05
5    2020-12-06
6    2020-12-07
7    2020-12-08
8    2020-12-09
9    2020-12-10
10   2020-12-11
11   2020-12-12
12   2020-12-12
13   2020-12-13
14   2020-12-14
15   2020-12-15
16   2020-12-16
17   2020-12-17
18   2020-12-18
19   2020-12-19
20   2020-12-20
21   2020-12-21
22          NaT
23   2020-12-23
24   2020-12-24
25   2020-12-25
26          NaT
27   2020-12-27
28   2020-12-28
29   2020-12-29
30   2020-12-30
31   2020-12-31
Name: Date, dtype: datetime64[ns]

In [17]:
time=dfnew['Date'].loc[0]
time

Timestamp('2020-12-01 00:00:00')